@charset "utf-8";

html{font-size: 20px;}
body{font-size: 1rem;display:flexd;}
header{height: 12rem; border:1px solid red;}
main{min-height:40rem;border:1px solid blue;}
footer{border:1px solid pink;}

/* top */
.top {font-weight:lighter;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: auto;font-size: 1rem;min-width: 40rem;max-width: 100%;margin: auto;background: white;padding: 30px;}
.top .logo {text-align: center;}
.top .top-bar{min-width: 30rem;margin-bottom:1rem;position: relative;text-align: right;font-size: 13px;padding-right: 1rem;}
.top .top-bar a {margin-left: 2px;color: #550000;text-decoration: none;font-weight: 800;}
.top .top-bar a:hover {text-decoration: underline;}
.top .menu {height: 45px;background: #4285f4;text-align:center;margin-top:1rem;}
.top .menu ul {list-style: none;padding: 0;margin: 0;display:inline-block;}
.top .menu ul li {float:left;overflow: hidden;text-align: center;line-height: 45px;boder: 1px solid red;}
.top .menu ul li a {position: relative;display: block;width: 8rem;height: 45px;color: #FFF;font-family:;font-size: 12px;letter-spacing: 1px;text-transform: uppercase;text-decoration: none;cursor: pointer;}
.top .menu ul li a span {position: absolute;left: 0;width: 8rem;}
.top .menu ul li a span.over {top: -45px;background: #fff;color: #3079F3;font-weight: 900;}

/* table */
.customer{padding: 2rem; min-height: 30rem;font-size: 1.1rem;}
.link {width:80%;margin: auto;text-align: center;position: relative;height: 2rem;}
.link a{color:white; font-size:0.8rem; text-decoration: none;}
.link a.btn{width: 3rem; padding: 1rem 4rem 1rem 4rem;height: 1.5rem;background: #0074E9;box-shadow: inset 0 -2px 0 rgba(0,0,0,0.35);text-shadow: 1px 1px 1px rgba(255,255,255, .22);}
.table{width:80%; min-width: 30rem;margin: 0 auto 2rem auto;frame:void;}
.table h1{font-size: 2rem; font-weight: 500rem; margin: 1rem;}
.table table{text-align: center; margin: auto; min-width: 30rem;width: 100%;}
.table table a{color: black; font-size:1rem; text-decoration: none;}
.table table tr th{padding: 0.7rem;font-size: 0.9rem;color: #0074E9;}
.table table tr td{border:1px solid #ccc;padding: 0.7rem;font-size: 0.9rem; border-right:none;border-left:none;}

/* login */
.box{text-align: center; padding: 2rem; margin: auto;width: 17rem;}
.box img{margin: 1rem;}
.box .login{text-align: center;margin: auto;margin-bottom: 1.5rem;}
.box .login img{width: 20px;margin: 0;}
.box .login input::placeholder {color: #ccc;font-size: 0.7rem;}
.box table label{font-size: 0rem;vertical-align: middle;}
.box table tr{border: 1px solid #ccc;}
.box table td{padding: 12px;}
.box table input{font-size: 0.8rem;border:none;width: 13rem;}
.box table td.ID_MESG,.box table td.PWD_MESG{padding: 0;text-align: left;font-size: 0.7rem;padding-left: 1rem;line-height: 1rem;}
.box hr{position: relative;margin-top: 1rem;width: 17rem;border: none;background: #ccc;height: 1px;}
.box p{font-size: 0.7rem; color: #555;}



